<div id="cont">
  <div *ngIf="isMobile(); else elseBlock">
    <button class="nav-btn btn btn-primary" (click)="lastWeek()"><- Prev</button>
    <button class="nav-btn btn btn-primary" (click)="nextWeek()">Next -></button>
    <br>
    <p class="week clear">Viewing week: {{getOffsetWeek().toDateString()}}</p>
  </div>
  <ng-template #elseBlock>
    <button class="nav-btn btn btn-primary" (click)="lastWeek()"><- Prev</button>
    <p class="week">Viewing week: {{getOffsetWeek().toDateString()}}</p>
    <button class="nav-btn btn btn-primary" (click)="nextWeek()">Next -></button>
  </ng-template>
</div>
