.day-input {
  width: 75vw;
  margin: 10px auto auto;
}

.btn-btm {
  margin: 10px;
  width: 200px;
  display: inline-block;
}

#buttons {
  display: flex;
  justify-content: center;
}

#Hours {
  display: inline-block;
  width: 10%;
}
