<app-week-nav (newWeek)="setDate($event)"></app-week-nav>
<form #f="ngForm" (submit)="onFormSubmit(f)" novalidate>
  <div *ngFor="let question of questions" class="day-input">
    <label for="{{question}}" class="day-lbl">{{question}}:</label>
    <div *ngIf="question == 'Hours'; else elseBlock">
      <input type="number" class="form-control" (ngModelChange)="onFormSubmit(f)" ngModel id="{{question}}" name="{{question}}">
    </div>
    <ng-template #elseBlock>
      <textarea ngModel class="form-control" (ngModelChange)="onFormSubmit(f)" id="{{question}}" name="{{question}}"></textarea>
    </ng-template>
  </div>
  <div id="buttons">
    <button class="btn-btm btn btn-secondary" (click)="printFormService.printForm(f,appWeek)" id="print">Print</button>
  </div>
</form>
